{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}{{ title|default }}{% endblock title %}</title>
                {% include "head_template.html" %}

                {%- block metas %}
                {%- endblock metas %}

                {%- block styles %}
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% include "style.html" %}
        <div class="container">
            {% block body -%}
                {% block navbar %}
                {%- endblock navbar %}
                {% block content -%}
                {%- endblock content %}

                {% block scripts %}
                {%- endblock scripts %}
            {%- endblock body %}
        </div>
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
