{% block doc -%}
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>{% block title %}{{ title|default }}{% endblock title %}</title>

                {%- block metas %}
                {%- endblock metas %}

                {%- block styles %}
                {%- endblock styles %}

            {%- endblock head %}

            {% include "head_template.html" %}
            {% include "style.html" %}
        </head>

        <body class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        {% block title_bar %}
            {% with title=self.title() %}
                {% include "security/title_bar.html" %}
            {% endwith %}
        {% endblock %}

        <div class="content">
            {% block navbar %}
            {%- endblock navbar %}

            {% block content -%}
            {%- endblock content %}

            {% block scripts %}
            {%- endblock scripts %}
        </div>
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
