{% extends "subtemplates/base.html" %}
{% set no_sidebar = True %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %}{{ _("Login") }}{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-card__supporting-text mdl-color-text--grey-600 mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <h1>{{ _("Login") }}</h1>
        <p><b>{% include "security/_messages.html" %}</b></p>
        <form action="{{ url_for_security("login") }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            <p>{{ render_field_with_errors(login_user_form.email) }}</p>
            <p>{{ render_field_with_errors(login_user_form.password) }}</p>
            <p>{{ render_field_with_errors(login_user_form.remember) }}</p>
            <p>{{ render_field(login_user_form.next) }}</p>
            <p>{{ render_field(login_user_form.submit) }}</p>
        </form>

        {% if config.ESTEID_AUTH %}
        <p><a href="{{ url_for("main_page.log_user_in_with_cert") }}"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
        >{{ _("Log in using Estonian ID card") }}</a></p>
        {% endif %}

        {% if config.GITHUB_OAUTH %}
            <p><a href="{{ url_for("github.login") }}"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            >{{ _("Log in using Github") }}</a></p>
        {% endif %}

        {% if config.GOOGLE_OAUTH %}
            <p><a href="{{ url_for("google.login") }}"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            >{{ _("Log in using Google") }}</a></p>
        {% endif %}

        {% if config.FACEBOOK_OAUTH %}
            <p><a href="{{ url_for("facebook.login") }}"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
            >{{ _("Log in using Facebook") }}</a></p>
        {% endif %}
        {# <form action="{{ url_for('social.login', provider_id="google") }}" method="POST">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                   type="submit" value="Login with Google"/>
        </form> #}

        {# <form action="{{ url_for('social.login', provider_id="facebook") }}" method="POST">
            <input type="submit" value="Login with {{ display_name }}"/>
        </form> #}
        {% include "security/_menu.html" %}
    </div>
{% endblock %}

{% block description %}{{ _("Login page") }}{% endblock %}