Flask==2.1.2
Flask-SqlAlchemy==2.5.1
Flask-Script==2.0.6
Flask-Mail==0.9.1
Flask-WTF==1.0.1
Flask-Babelex==0.9.4
Flask-Dance[sqla]==6.0.0
Flask-Security-Too==4.1.4
Flask-SocketIO==5.1.2
Flask-Accept==0.0.6
eventlet==0.33.1
redis==4.3.3
bcrypt --no-binary bcrypt==3.1.7
psycopg2 --no-binary psycopg2==2.8.3
pycryptodomex==3.14.1
sqlalchemy==1.4.36
wtforms==3.0.1
werkzeug==2.1.2
pycryptodomex==3.14.1
raven==6.10.0
celery[redis]==5.2.6
gunicorn==20.1.0
sqlalchemy-utils==0.38.2
sentry-sdk[flask]==1.5.12
passlib==1.7.4
cython==0.29.28
coverage