Flask
Flask-SqlAlchemy
Flask-Security
Flask-Script
Flask-Mail
Flask-WTF
Flask-Babelex
Flask-Dance
bcrypt
sqlalchemy
psycopg2 --no-binary psycopg2
werkzeug
pycryptodomex
raven
celery[redis]
gunicorn
sqlalchemy-utils
passlib