{# Copyright: Taavi Eomäe 2017-2020 #}
{# SPDX-License-Identifier: AGPL-3.0-only #}
{% extends "subtemplates/base.html" %}
{% set no_sidebar = True %}
{% set no_information = True %}
{% set show_login_navigation = True %}

{% block additional_head %}
    <link rel="stylesheet"
          type="text/css"
          crossorigin="use-credentials"
            {# integrity="sha256-9dRKJ2g7/NMoILxkrJim3A0LhSaqlUhKk7UC6+99TZ8=" #}
          href="{{ url_for("static", filename="pretty-index/pretty_index.css") }}"/>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="section--center mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col">
        <header class="center-icon mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
            <i class="custom-very-large-text material-icons">card_giftcard</i>
        </header>
        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
                <h4>Loosindus</h4>
                Loosindus is a very simple web page for organizing Secret Santa events with your friends, family and
                colleagues.
                By just using Loosindus you have to worry a lot less. It does the annoying lifting for you.
            </div>
            <div class="mdl-card__actions">
                <a href="/register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Try
                    now!</a>
            </div>
        </div>
    </section>

    <section class="section--center mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4>Getting started<br>
                <p>It's very simple to start using Loosindus:</p></h4>
            <h4 class="mdl-cell mdl-cell--12-col"></h4>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="circle-container mdl-color--primary">1.</div>
            </div>
            <div class="circle-next-text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Type in all the people</h5>
                You just have to provide people's names and e-mail addresses. <a
                    href="{{ url_for("static_page.help_page") }}#emails">See exactly
                how</a>.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="circle-container mdl-color--primary">2.</div>
            </div>
            <div class="circle-next-text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Send out invites</h5>
                It takes just one button press to send out invites to people.
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="circle-container mdl-color--primary">3.</div>
            </div>
            <div class="circle-next-text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Start the event</h5>
                When everyone is ready you can generate a secret list of who gifts to who. <a href="/help#shuffle"></a>
            </div>
        </div>
        <div class="mdl-card__actions">
            <a href="/register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Try it
                now!</a>
        </div>
    </section>

    <section class="section--center mdl-card mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
            <h4>Screenshots<p><br>Here's a few screenshots if you don't want to sign up just to take a look:</p></h4>
            <h4 class="mdl-cell mdl-cell--12-col"></h4>
        </div>
    </section>
{% endblock %}

{% block buttons %}{% endblock %}

{% block footer %}
    <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--middle-section">
            <div class="mdl-mega-footer--drop-down-section">
                <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer--heading">About</h1>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="/about">Description</a></li>
                    <li><a href="/pp">Terms and privacy</a></li>
                    <li><a href="https://aegrel.ee">Creator</a></li>
                </ul>
            </div>
            <div class="mdl-mega-footer--drop-down-section">
                <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                <h1 class="mdl-mega-footer--heading">Help</h1>
                <ul class="mdl-mega-footer--link-list">
                    <li><a href="/help">User guide</a></li>
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                </ul>
            </div>
        </div>
    </footer>
{% endblock %}

{% block updates %}{% endblock %}