<link rel="stylesheet"
      type="text/css"
      crossorigin="use-credentials"
      integrity="sha512-sSaTGUTEiQC0tl6qJaEnlZmPRpTn0envT899I5w+4WwvJjhxeru4LhB09nkUwdFIcP+n67GVZARJ9y1AdYU1tg=="
      href="{{ url_for("static", filename="roboto.min.css") }}">
<link rel="stylesheet"
      type="text/css"
      crossorigin="use-credentials"
      integrity="sha512-LospnxyB5Yk4r91zQLsddtnoVwMcEC//d7X2RLUnbEMMctq0NSeYOX7OcXpdu1eEac3iQsnyTRioS/pKJdHTRw=="
      href="{{ url_for("static", filename="material_icons.min.css") }}">
<link rel="stylesheet"
      type="text/css"
      crossorigin="use-credentials"
      integrity="sha256-HGPngNZUKbfs3HrUaK4KaeCdOLtyZUZRTkP61VTgw1Y="
      href="{{ url_for("static", filename="material/lite/material.min.css") }}">
<link rel="stylesheet"
      crossorigin="use-credentials"
      integrity="sha512-RT6jQtbvDt3WUcTVgQEcxNkgK5p1F5SWTAylb0qZRN3AEq0Yn4S57TU7cw3pJPk3iKEn6Rb6Hg0OKIB+4H1tsQ=="
      href="{{ url_for("static", filename="normalize.min.css") }}">
<script integrity="sha256-PCfu4+fnQrp4wNmVbjN1eaX4LbOvOejab0UOhjLezrw="
        src="{{ url_for("static", filename="material/lite/material.min.js") }}"></script>