{# Copyright: Taavi Eomäe 2017-2020 #}
{# SPDX-License-Identifier: AGPL-3.0-only #}
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for("static", filename="roboto.min.css") }}">
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for("static", filename="material_icons.min.css") }}">
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for("static", filename="material/lite/material.min.css") }}">
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for("static", filename="normalize.min.css") }}">
<script rel="script"
        type="application/javascript"
        src="{{ url_for("static", filename="material/lite/material.min.js") }}"></script>