{# Copyright: Taavi Eomäe 2017-2020 #}
{# SPDX-License-Identifier: AGPL-3.0-only #}
<header class="mdl-layout__header {% if scroll_header %}mdl-layout__header--scroll {% else %}mdl-layout--fixed-header {% endif %}">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{ title }}</span>
        <div class="mdl-layout-spacer"></div>
        {# <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
          </div>
        </div> --> #}
        {% if show_login_navigation %}
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/login"><b>Log in</b></a>
            </nav>
        {% endif %}

        {% if three_dot %}
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="header_button">
                <i class="material-icons">more_vert</i>
            </button>
            <label class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="header_button">
                <ul>
                    <li class="mdl-menu__item"><a href="/about">{{ _("About") }}</a></li>
                    <li class="mdl-menu__item"><a href="/contact">{{ _("Contact") }}</a></li>
                    <li class="mdl-menu__item"><a href="/feedback">{{ _("Feedback") }}</a></li>
                </ul>
            </label>
        {% endif %}
    </div>

    {% if tabs_bar %}
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a href="#overview" class="mdl-layout__tab is-active">Overview</a>
            <a href="#personal" class="mdl-layout__tab">Personal</a>
            <a href="#security" class="mdl-layout__tab">Account & Security</a>
            <a href="#manage" class="mdl-layout__tab">Management</a>
        </div>
    {% endif %}
</header>

{% if not no_sidebar %}
    <div class="mdl-layout__drawer">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ url_for("static_page.home") }}">
                <i class="material-icons">list</i> {{ _("Dashboard") }}</a>
            <div class="mdl-layout-spacer mdl-card__supporting-text">Shortcuts</div>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.notes") }}">
                <i class="material-icons">list</i> {{ _("My Wishlist") }}</a>
            {% if target %}
                <a class="mdl-navigation__link" href="/wishlist/{{ target["group_id"] }}/{{ target["user_id"] }}">
                    <i class="material-icons">list</i> {{ _("Receiver's Wishlist") }}</a>
            {% endif %}
            <div class="mdl-layout-spacer mdl-card__supporting-text">Overview</div>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.shuffles") }}">
                <i class="material-icons">cached</i> {{ _("Shuffles") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.families") }}">
                <i class="material-icons">people</i> {{ _("Families") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.groups") }}">
                <i class="material-icons">group_work</i> {{ _("Groups") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.events") }}">
                <i class="material-icons">event</i> {{ _("Events") }}</a>
            <a class="mdl-navigation__link custom-disable-link" href="{{ url_for("main_page.reminders") }}">
                <i class="material-icons">alarm</i> {{ _("Reminders") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.notifications") }}">
                <i class="material-icons">notification_important</i> {{ _("Notifications") }}</a>
            <a class="mdl-navigation__link custom-disable-link" href="{{ url_for("main_page.subscriptions") }}">
                <i class="material-icons">attach_money</i> {{ _("Subscriptions") }}</a>
            <div class="mdl-layout-spacer mdl-card__supporting-text">Personal</div>
            <a class="mdl-navigation__link" href="{{ url_for("main_page.settings") }}">
                <i class="material-icons">settings</i> {{ _("Settings") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("login_page.logout") }}">
                <i class="material-icons">exit_to_app</i> {{ _("Log out") }}</a>
            <div class="mdl-layout-spacer mdl-card__supporting-text">Help & Support</div>
            <a class="mdl-navigation__link custom-disable-link" href="{{ url_for("static_page.help_page") }}">
                <i class="material-icons">help</i> {{ _("Help") }}</a>
            <a class="mdl-navigation__link" href="{{ url_for("static_page.feedback") }}">
                <i class="material-icons">feedback</i> {{ _("Feedback") }}</a>
        </nav>
    </div>
{% endif %}