{% extends "subtemplates/base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("This page lists all events you're participating in") }}</p>
        <p>{{ _("This page lists all events you're connected participating in") }}</p>
    </div>
{% endblock %}

{% block content %}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <tbody>
        <tr>
            <th>{{ _("ID") }}</th>
            <th>{{ _("Name") }}</th>
            <th>{{ _("Created") }}</th>
            <th>{{ _("Takes place") }}</th>
            <th>{{ _("Group") }}</th>
            <th>{{ _("Type") }}</th>
        </tr>
        {% for event in events %}
            <tr>
                <td>{{ event["id"] }}</td>
                <td>{{ event["name"] }}</td>
                <td>{{ event["created_at"] }}</td>
                <td>{{ event["event_at"] }}</td>
                <td>{{ event["group_id"] }}</td>
                <td>{{ event["event_type"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
