{% extends "subtemplates/base.html" %}

{% block title %}🎄{{ title }}{% endblock %}


{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("This page lists all reminders every member in the group can receive") }}</p>
        <p>{{ _("You can manually resend or configure the alerts") }}</p>
    </div>
{% endblock %}

{% block content %}
    <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
    <table class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col mdl-card__supporting-text mdl-color-text--grey-600 mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
        <tr>
            <th>{{ _("Group") }}</th>
            <th>{{ _("Last check") }}</th>
            <th>{{ _("Last sent") }}</th>
            <th>{{ _("Type") }}</th>
        </tr>
        {% for reminder in reminders %}
            <tr>
                <td>{{ reminder["group"] }}</td>
                <td>{{ reminder["last_check"] }}</td>
                <td>{{ reminder["last_sent"] }}</td>
                <td>{{ reminder["type"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}