{% extends "subtemplates/base.html" %}

{% block title %}🎄{{ target }} {{ title }}{% endblock %}

{% block additional_head %}{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p class="center">{{ _("Here is") }}
            <b>{{ target }}</b>{{ _("'s wishlist, feel free to mark a gift bought :)") }}</p>
    </div>
{% endblock %}

{% block content %}
    <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>

    <table class="custom-wrap mdl-card mdl-shadow--2dp mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--6-col-phone">
        <tbody>
        <th class="mdl-data-table__cell--non-numeric mdl-textfield--full-width">{{ _("Description") }}</th>
        {% if notes|length > 0 %}
            {% if not invalid %}
                <th class="mdl-data-table__cell--non-numeric">{{ _("Status") }}</th>
                <th class="mdl-data-table__cell--non-numeric">{{ _("By whom") }}</th>
                <th class="mdl-data-table__cell--non-numeric">{{ _("Action") }}</th>
            {% endif %}
            {% for note in notes %}
                <tr>
                    <td class="custom-white-space mdl-data-table__cell--non-numeric">{{ note["item"] }}</td>

                    {% if not invalid %}
                        <form action="" method="post">
                            <td class="mdl-data-table__cell--non-numeric">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    {% if note["status_modifyable"] %}
                                        <select class="mdl-textfield__input" id="status" name="status">
                                        {% for status in note["statuses"] %}
                                            <option value="{{ status[1] }}">{{ _(status[0].capitalize()) }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <select disabled class="mdl-textfield__input" id="status" name="status">
                                        <option value="{{ note["statuses"][0][1] }}">{{ _(note["statuses"][0][0].capitalize()) }}</option>
                                    {% endif %}
                                    </select>
                                    <label class="mdl-textfield__label" for="status"></label>
                                </div>
                            </td>

                            <td class="mdl-data-table__cell--non-numeric custom-large-text">{{ note["buyer"] }}</td>

                            {% if note["status_modifyable"] %}
                                <td class="mdl-data-table__cell--non-numeric">
                                    <input type="hidden" name="id" value="{{ note["id"] }}">
                                    <input id="submit" type="submit"
                                           class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                           value="{{ _("Save") }}"/>
                                </td>
                            {% else %}
                                <td class="mdl-data-table__cell--non-numeric">
                                    <input title="{{ _("Bought!") }}"
                                           class="disabled mdl-button--disabled mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                           value="{{ _("Bought!") }}"/>
                                </td>
                            {% endif %}
                        </form>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td class="custom-white-space mdl-data-table__cell--non-numeric">{{ _("There are no items in this wishlist") }}</td>
                <td></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
