{% extends "subtemplates/base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block additional_head %}
{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <h5>{{ _("This page shows you all the people you should be making a gift") }}</h5>
    </div>
{% endblock %}

{% block content %}
    <table class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col mdl-card__supporting-text mdl-color-text--grey-600 mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>
        <tr>
            <th>{{ _("From") }}</th>
            <th>{{ _("To") }}</th>
            <th>{{ _("Event name") }}</th>
            <th>{{ _("Group") }}</th>
            <th></th>
        </tr>
        {% for shuffle in shuffles %}
            <tr>
                <td>{{ shuffle["giver_name"] }}</td>
                <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       href="/wishlist/{{ shuffle["getter"] }}">
                    {{ shuffle["getter_name"] }}</a></td>
                <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                       href="/event/{{ shuffle["event_id"] }}">
                    {{ shuffle["event_name"] }}</a></td>
                <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                       href="/group/{{ shuffle["group_id"] }}">
                    {{ shuffle["group_name"] }}</a></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
