{% extends "subtemplates/base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("This page lists all your subscriptions") }}</p>
    </div>
{% endblock %}


{% block content %}
    <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <p>{{ _("Subscriptions attached to your account") }}</p>
        <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <th>{{ _("Until") }}</th>
            <th>{{ _("Active") }}</th>
        </tr>
        {% for subscription in personal_subscriptions %}
            <tr>
                <td>{{ subscription["type"] }}</td>
                <td>{{ subscription["until"] }}</td>
                <td>{{ subscription["active"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <p>{{ _("Subscriptions managed by you") }}</p>
        <tbody>
        <tr>
            <th>{{ _("Type") }}</th>
            <th>{{ _("Who") }}</th>
            <th>{{ _("Until") }}</th>
            <th>{{ _("Active") }}</th>
        </tr>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription["type"] }}</td>
                <td>{{ subscription["who"] }}</td>
                <td>{{ subscription["until"] }}</td>
                <td>{{ subscription["active"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
