.custom-white-text {
    color: #fff;
}

.custom-height-500 {
    height: 500px;
}

.custom-white-space {
    white-space: pre-line;
}

.custom-wrap {
    overflow: auto;
}

.custom-large-text {
    font-size: 200%;
}

.custom-very-large-text {
    font-size: 1000%;
}

.custom-ads-by-google {
    display: block;
    text-align: center;
}

.custom-disable-link {
    pointer-events: none;
    color: #c0c0c0 !important
}

.custom-display-none {
    display: none;
}

.custom-top-bottom-margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.custom-left-margin {
    margin-left: 8px;
}

.custom-equal {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.custom-half {
    flex: 0 0 45%;
    margin-right: 16px;
}