/*
 Copyright: Taavi Eomäe 2017-2020
 SPDX-License-Identifier: AGPL-3.0-only
 */
.custom-theme {
    --primary-color-dark: #303f9f;
}

.custom-white-text {
    color: #ffffff;
}

.custom-height-500 {
    height: 500px;
}

.custom-white-space {
    white-space: pre-line;
}

.custom-wrap {
    overflow: auto;
}

.custom-large-text {
    font-size: 200%;
}

.custom-very-large-text {
    font-size: 1000%;
}

.custom-ads-by-google {
    display: block;
    text-align: center;
}

.custom-disable-link {
    pointer-events: none;
    color: #c0c0c0 !important
}

.custom-display-none {
    display: none;
}

.custom-top-bottom-margin {
    margin-top: 8px;
    margin-bottom: 8px;
}

.custom-left-margin {
    margin-left: 8px;
}

.custom-equal {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}

.custom-half {
    flex: 0 0 45%;
    margin-right: 16px;
}

.custom-fill {
    width: 100%;
}

.mdl-layout__tab-bar-button.mdl-layout__tab-bar-left-button {
    background-color: var(--primary-color-dark);
}

.mdl-layout__tab-bar-button.mdl-layout__tab-bar-right-button {
    background-color: var(--primary-color-dark);
}