<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>🎄 {{ title }} 🎄</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h4>{{ title }}</h4>
    </header>

    <div id="content">
        <a class="mdc-button mdc-button--raised" href="./notes">Vaata kõiki (tagasi)</a>
        <form method="post">
            <textarea class="mdc-text-field__input" value="{{ placeholder }}" name="note">{{ placeholder }}</textarea>
            <input type="submit" class="mdc-button mdc-button--raised" value="Saada"></input>
        </form>
    </div>
</div>
</body>
</html>

