{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./notes">Vaata
        kõiki (tagasi)</a>
    <form method="post">
                <textarea class="mdl-textfield__input" value="{{ placeholder }}"
                          name="note">{{ placeholder }}</textarea>
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               value="Saada"></input>
    </form>
{% endblock %}

