<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>Perekonna seaded</title>
</head>
<body>
{% include "style.html" %}
{% include "style_data_tables.html" %}
<table class="mdl-data-table">
    <thead>
    <tr>
        <th>Liige</th>
        <th>ID</th>
        <th>Tegevused</th>
    </tr>
    </thead>
    <tbody>
    {% for member in family %}
        <tr>
            <td>
                {{ member[0] }}
            </td>
            <td>
                {{ member[1] }}
            </td>
            <td>
                {{ member[1] }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>