{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <h3 class="mdc-typography--display1">{{ title }}</h3>
    <p><a {% if back %}id="link-previous"{% endif %}
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          href="{{ back_link }}">Tagasi</a></p>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
            <th>Liige</th>
            {% if admin %}
                <th>ID</th>
            {% endif %}
            <th>Tegevused</th>
            {% if admin %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for member in family %}
            <tr>
                <td>{{ member[0] }}</td>
                {% if admin %}
                    <td>{{ member[1] }}</td>
                {% endif %}

                {% if not member[3] %}
                <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       href="./giftingto?id={{ member[1] }}">Vaata nimekirja</a>
                </td>
                {% endif %}

                {% if member[2] %}
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                           href="./removefromfam?id={{ member[1] }}">Eemalda</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
