{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("This page lists all the people in this family") }}</p>
    </div>
{% endblock %}


{% block content %}
    <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <tbody>
        <tr>
            <th>{{ _("Member") }}</th>
            {% if admin %}
                <th>{{ _("ID") }}</th>
            {% endif %}
            <th>{{ _("Birthday") }}</th>
            <th>{{ _("Actions") }}</th>
            {% if admin %}
                <th></th>
            {% endif %}
        </tr>
        {% for member in family %}
            <tr>
                <td>{{ member[0] }}</td>
                {% if admin %}
                    <td>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="user_id" value="{{ member[1] }}"
                                   disabled>
                        </div>
                    </td>
                {% endif %}

                {% if member[4] is not none %}
                    <td>{{ member[4] }}</td>
                {% else %}
                    <td>{{ _("Unknown") }}</td>
                {% endif %}

                {% if not member[3] %}
                    <td>
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                           href="./giftingto?id={{ member[1] }}">{{ _("Display") }}</a>
                    </td>
                {% else %}
                    <td></td>
                {% endif %}

                {% if admin %}
                    <td>
                        <form method="post" action="./editfam">
                            <input name="action" type="hidden" value="REMOVEMEMBER">
                            <input name="extra_data" type="hidden" value="{{ family_id }}">
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                                    name="id" type="submit" value="{{ member[1] }}">{{ _("Remove") }}</button>
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
