{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <h3 class="mdc-typography--display1">{{ title }}</h3>
    <h3>Muudatused ei ole veel lubatud</h3>
    <div id="content">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>Perekond</th>
                <th>ID</th>
            </tr>
            </thead>
            <tbody>
            {% for family in families %}
                <tr>
                    <td>
                        {{ family[0] }}
                    </td>
                    <td>
                        {{ family[1] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}