{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <h3 class="mdc-typography--display1">{{ title }}</h3>
    <div id="content">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>Perekond</th>
                <th>Tegevus</th>
                {% if admin %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for family in families %}
                <tr>
                    <td>{{ family[0] }}</td>
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                           href="./editfam?id={{ family[1] }}">Vaata</a>
                    </td>
                    {% if family[2] %}
                        <td>
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                               href="./editfam?id={{ family[1] }}">Eemalda</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}