{% extends "base.html" %}

{% block title %}🎄 {{ page_title }}{% endblock %}

{% block content %}
    <h4>{{ message }}</h4>
    {% if sentry_enabled %}
        {% if sentry_event_id %}
            <p>Errori ID on: {{ sentry_event_id }}</p>
        {% endif %}
        <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>

        {% if sentry_ask_feedback %}
            <script>
                Raven.showReportDialog({
                    {% if g.sentry_event_id %}
                        eventId: '{{ g.sentry_event_id }}',
                    {% else %}
                        eventId: '{{ sentry_event_id }}',
                    {% endif %}
                    dsn: '{{ sentry_public_dsn }}'
                });
            </script>
        {% endif %}
    {% endif %}
{% endblock %}