{% extends "base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block additional_head %}{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
            <h4>{{ message }}</h4>
            {% if sentry_enabled %}
                {% if sentry_event_id %}
                    <p>{{ _("Error ID is: ") }}{{ sentry_event_id }}</p>
                {% endif %}
            {% endif %}
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="/">{{ _("Back") }}</a>
        </div>
    </div>
    {% if not no_video %}
    <iframe height="500m;200vmin"
            class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col-tablet mdl-cell--12-col-desktop mdl-cell--6-col-phone mdl-cell--8-col"
            id="ytplayer"
            type="text/html"
            src="https://www.youtube.com/embed/t3otBjVZzT0?autoplay=1&rel=0&origin=https://{{ config.SERVER_NAME }}"
            frameborder="0">
    </iframe>
    {% endif %}
{% endblock %}

{% block footer %}
    <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    {% if sentry_ask_feedback %}
        {% if g.sentry_event_id %}
            <script src="/custom.js?event_id={{ g.sentry_event_id }}&dsn={{ sentry_public_dsn }}"></script>
        {% else %}
            <script src="/custom.js?event_id={{ sentry_event_id }}&dsn={{ sentry_public_dsn }}"></script>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}