{% extends "subtemplates/base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block description %}{{ _("Contact page") }}{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <p>{{ _("Click on the button to get to the feedback form") }}</p>
            <p><a target="_blank"
                  rel="noopener noreferrer"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  href="https://forms.gle/SAKrqbGcd5EXtWU3A">{{ _("Open") }}</a></p>
        </div>
    </div>
{% endblock %}