{% extends "base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block description %}{{ _("Contact page") }}{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
            <p>{{ _("This page should pop up a feedback form you can fill") }}</p>
            <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                  href="/">{{ _("Back") }}</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    <script src="./custom.js?event_id={{ sentry_event_id }}&dsn={{ sentry_public_dsn }}"></script>
{% endblock %}