<script integrity="sha256-PCfu4+fnQrp4wNmVbjN1eaX4LbOvOejab0UOhjLezrw="
        src="{{ url_for("static", filename="material/lite/material.min.js") }}"></script>

<link rel="stylesheet"
      type="text/css"
      crossorigin="use-credentials"
      integrity="sha512-U0hBNTEyKGN1c3RvbS5jc3MpPSA2MzVlODQ2MDg5MWQ1Y2IxMjQ3YTU0MzVmNjkxZjBlNWFjODdhNzg5YTk3YWVjMjlmYWVmZTg4Njk2NjA0MDg4MmE2NWYzZGE5OWZjODMxMzg2NjYxMzE5YjRiNzU4MDMxNzU0ZGVkOThmODY5NzgwYjVlYWNlYTVhMjgzYzUyMAo="
      integrity="sha256-giIwwtO2zkg/7epOZh027OoYQTkO5/MNxADaTBTvXdE="
      href="{{ url_for("static", filename="custom.css") }}"/>