{% extends "base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block additional_head %}
    <script src="{{ url_for("static", filename="d3/d3.v5.min.js") }}"></script>
{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
        <h5>{{ _("You are marked with ") }}<b>{{ id }}</b></h5>
        <p>{{ _("Names are not displayed intentionally") }}</p>
    </div>
{% endblock %}

{% block content %}
    <svg id="viz" style="height: 500px;"
         class="mdl-card mdl-shadow--2dp mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--6-col-phone"></svg>
    <script src="./grapher/{{ graph_id }}{{ unhide }}"></script>
{% endblock %}
