{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
        <header>
            <h5>Sa oled tähistatud arvuga {{ id }}</h5>
            <p>Nimesid ei ole põhjusega, joone jämedam ots tähistab saajat</p>
        </header>

        <div>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="../">Tagasi</a>
            <p class="center"><img src="{{ url_for("generated_graphs", filename=image) }}"/></p>
        </div>
{% endblock %}
