{% extends "security/base.html" %}

{% block title %}🎄 Jõulurakendus{% endblock %}

{% block description %}
    Lihtne Eestikeelne loosipakkide tegemise jaoks mõeldud veebileht
{% endblock %}

{% block content %}
    <p class="center">Selle lehe puhul on tegu väga lihtsa lehega enda jõulunimekirja koostamise jaoks, selle enda
        "jõuluvanaga"
        jagamiseks 🎅, nimede loosimise korraldamise jaoks. Töötab hästi nii mobiilil kui arvutil! Katsetamiseks
        registreeru (või logi sisse).</p>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
       href="./login">Logi sisse</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
       href="./register">Registreeru</a>
{% endblock %}