{% extends "subtemplates/base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
            {% if events|length == 1 %}
                <h4>{{ _("Welcome back!") }}</h4>
                <p>{{ _("You currently have one active event") }}</p>
            {% elif events|length > 1 %}
                <h4>{{ _("Hi, which event do you wish to see?") }}</h4>
            {% else %}
                <h6>{{ _("You don't have any events you're participating in") }}</h6>
                <p>{{ _("Do you want to create one?") }}</p>
                <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                      href="/setup">{{ _("Setup") }}</a></p>
                {% if has_groups %}
                    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                          href="{{ url_for("main_page.groups") }}">{{ _("Use an existing group") }}</a></p>
                {% endif %}
            {% endif %}
        </div>

        {% if events %}
            <table class="mdl-data-table mdl-js-data-table mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
                <tbody>
                <tr>
                    <th>{{ _("Name") }}</th>
                    <th>{{ _("Takes place") }}</th>
                    <th>{{ _("Group") }}</th>
                    <th>{{ _("Action") }}</th>
                </tr>
                {% for event in events %}
                    <tr>
                        <td>{{ event["name"] }}</td>
                        <td>{{ event["event_at"] }}</td>
                        <td>{{ event["group_name"] }}</td>
                        <td>
                            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                               href="{{ url_for("main_page.event", event_id=event["id"]) }}">{{ _("Open") }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block buttons %}
{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        {% if no_shuffle %}
            <h5>{{ _("Shuffling has not yet been done for your group!") }}</h5>
        {% else %}
            <h5>{{ _("This web service is in Beta testing, please report any errors you see") }}</h5>
        {% endif %}
        <p class="mdl-card__supporting-text">{{ _("NOTE: A few features are currently being rewritten!") }}</p>
    </div>
{% endblock %}