<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>🎄</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h3>Tere, {{ auth }}!</h3>
    </header>

    <div id="content">
        <p class="center">Hästi lihtne leht enda jõulunimekirja koostamise jaoks ja selle enda jõuluvanaga jagamiseks
            🎅</p>
        {% if no_shuffle %}
        <h5>Loosimist ei ole veel administraatori poolt tehtud, funktsionaalsus on limiteeritud</h5>
        {% endif %}
        <a class="mdc-button mdc-button--raised" href="./notes">Minu nimekiri</a>
        <a class="mdc-button mdc-button--raised" href="./shuffle" >Kinkimine</a>
    </div>
</div>
</body>
</html>

