{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <p class="center">Hästi lihtne leht enda jõulunimekirja koostamise jaoks ja selle enda jõuluvanaga
        jagamiseks
        🎅</p>
    {% if no_shuffle %}
        <h5>Loosimist ei ole veel administraatori poolt tehtud, funktsionaalsus on limiteeritud</h5>
    {% endif %}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./notes">Minu nimekiri</a>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./shuffle">Kinkimine</a>
{% endblock %}

