{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <p>Siin on sinu personaalne nimekiri kuhu peaksid kirja panema enda jõulusoovid, seda näeb peale sinu ainult
        jõuluvana 🎄</p>
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./createnote">Lisa uus</a>
    <a {% if back %}id="link-previous"{% endif %}
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="/">Tagasi</a>
    <table class="mdl-data-table">
        <thead>
        <tr>
            <th>Kirjeldus</th>
            {% if not empty %}
                <th>Kustuta</th>
                <th>Muuda</th>
            {% else %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ item }}</td>
                {% if not empty %}
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                           href="./removenote?id={{ loop.index0 }}">Kustuta</a></td>
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                           href="./editnote?id={{ loop.index0 }}">Muuda</a></td>
                {% else %}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
