<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>Nimekiri 🎄 </title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h1>Nimekiri</h1>
    </header>

    <div id="content">
        <p>Siin on sinu personaalne nimekiri kuhu peaksid kirja panema enda jõulusoovid, seda näeb peale sinu ainult
            jõuluvana 🎄</p>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./createnote">Lisa uus</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./">Tagasi</a>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>Kirjeldus</th>
                <th>Kustuta</th>
                <th>Muuda</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item }}</td>
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./removenote?id={{ loop.index0 }}">Kustuta</a></td>
                    <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./editnote?id={{ loop.index0 }}">Muuda</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
