<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>Nimekiri 🎄 </title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h1>Nimekiri</h1>
    </header>

    <div id="content">
        <p>Siin on sinu personaalne nimekiri kuhu peaksid kirja panema enda jõulusoovid, seda näeb peale sinu ainult
            jõuluvana 🎄</p>
        <a class="mdc-button mdc-button--raised" href="./createnote">Lisa uus</a>
        <a class="mdc-button mdc-button--raised" href="./">Tagasi</a>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>Kirjeldus</th>
                {% if not empty %}
                    <th>Kustuta</th>
                    <th>Muuda</th>
                {% else %}
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item }}</td>
                    {% if not empty %}
                        <td><a class="mdc-button mdc-button--raised"
                               href="./removenote?id={{ loop.index0 }}">Kustuta</a></td>
                        <td><a class="mdc-button mdc-button--raised"
                               href="./editnote?id={{ loop.index0 }}">Muuda</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
