<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>Seaded</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h4>Sinu seaded</h4>
    </header>
    <div id="content">
        <p><a class="mdc-button mdc-button--raised" href="./shuffle">Tagasi</a></p>
        <p>Sinu ID: {{ user_id }}</p>
        <p>Sinu nimi: {{ user_name }}</p>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th>Perekond</th>
                <th>ID</th>
                <th>Muuda</th>
            </tr>
            </thead>

            <tbody>
            {% for name, family in families.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ family }}</td>
                    <td><a class="mdc-button mdc-button--raised" href="./editfam?id={{ value }}">Muuda</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="u-full-width">
            <thead>
            <tr>
                <th>Grupp</th>
                <th>ID</th>
                <th>Kustuta</th>
            </tr>
            </thead>

            <tbody>
            {% for name, group in groups.items() %}
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ group }}</td>
                    <td><a class="mdc-button mdc-button--raised" href="./editgroup?id={{ value }}">Muuda</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</body>
</html>

