{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("Page for managing your account, families and groups") }}</p>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col-tablet mdl-cell--8-col-desktop mdl-cell--4-col-phone mdl-cell--6-col">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <noscript>{{ _("Your browser does not support JavaScript, certain functionality might be limited") }}</noscript>
            <p>{{ _("Your ID:") }}
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="user_id" value="{{ user_id }}" disabled>
            </div>
            </p>
            <p>{{ _("Your name:") }} {{ user_name }}</p>
            <p>{% if id_connected %}{{ _("Estonian ID card is linked") }}{% else %}
                {{ _("Connect Estonian ID card:") }}{% endif %} <a
                    {% if id_connected %}disabled{% endif %}
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                    {% if not id_connected %}
                    href="{{ url_for("main_page.log_user_in_with_cert") }}"
                    {% else %}
                    href="#"
                    {% endif %}>
                {% if id_connected %}
                    {{ _("Linked") }}
                {% else %}
                    {{ _("Link") }}
                {% endif %}
            </a></p>

            {% if config.GOOGLE_OAUTH %}
                <p>{% if google_connected %}{{ _("Google account is linked") }}{% else %}
                    {{ _("Connect Google account:") }}{% endif %} <a
                        {% if google_connected %}disabled{% endif %}
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not google_connected %}
                        href="{{ url_for("main_page.googlelogin") }}"
                        {% else %}
                        href="#"
                        {% endif %}>
                    {% if google_connected %}
                        {{ _("Linked") }}
                    {% else %}
                        {{ _("Link") }}
                    {% endif %}
                </a></p>
            {% endif %}

            {% if config.GITHUB_OAUTH %}
                <p>{% if github_connected %}{{ _("Github account is linked") }}{% else %}
                    {{ _("Connect Github account:") }}{% endif %} <a
                        {% if github_connected %}disabled{% endif %}
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not github_connected %}
                        href="{{ url_for("main_page.githublogin") }}"
                        {% else %}
                        href="#"
                        {% endif %}>
                    {% if github_connected %}
                        {{ _("Linked") }}
                    {% else %}
                        {{ _("Link") }}
                    {% endif %}
                </a></p>
            {% endif %}


            {% if config.FACEBOOK_OAUTH %}
                <p>{% if github_connected %}{{ _("Facebook account is linked") }}{% else %}
                    {{ _("Connect Facebook account:") }}{% endif %} <a
                        {% if facebook_connected %}disabled{% endif %}
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        {% if not facebook_connected %}
                        href="{{ url_for("main_page.facebooklogin") }}"
                        {% else %}
                        href="#"
                        {% endif %}>
                    {% if facebook_connected %}
                        {{ _("Linked") }}
                    {% else %}
                        {{ _("Link") }}
                    {% endif %}
                </a></p>
            {% endif %}

            <p>{{ _("Your language:") }}</p>
            <form method="post" action="setlanguage">
                <select class="mdl-textfield__input" id="language" name="language">
                    <option value="{{ user_language }}">{{ user_language }}</option>
                    <option value="ee">{{ _("Estonian") }}</option>
                    <option value="en">{{ _("English") }}</option>
                </select>
                <input type="submit"
                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                       value={{ _("Send") }}>
            </form>
            </p>

            <p>{{ _("Your families:") }}</p>
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th>{{ _("Family") }}</th>
                    <th>{{ _("Options") }}</th>
                </tr>
                </thead>

                <tbody>
                {% for name, family in families.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        {% if family[1] %}
                            <td>
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                   href="./editfam?id={{ family[0] }}{{ back_link }}">{{ _("Change / Display") }}</a>
                            </td>
                        {% else %}
                            <td>
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                   href="./editfam?id={{ family[0] }}{{ back_link }}">{{ _("Display") }}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>{{ _("Your groups:") }}</p>
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th>{{ _("Group") }}</th>
                    <th>{{ _("Options") }}</th>
                </tr>
                </thead>

                <tbody>
                {% for name, group in groups.items() %}
                    <tr>
                        <td>{{ name }}</td>
                        {% if group[1] %}
                            <td>
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                   href="./editgroup?id={{ group[0] }}{{ back_link }}">{{ _("Change / Display") }}</a>
                            </td>
                        {% else %}
                            <td>
                                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                   href="./editgroup?id={{ group[0] }}{{ back_link }}">{{ _("Display") }}</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

