{% extends "subtemplates/base.html" %}

{% block title %}🎄{{ title }}{% endblock %}

{% block additional_head %}
    <script src="{{ url_for("static", filename="setup.js") }} "></script>
    <script src="{{ url_for("static", filename="d3/d3.v5.min.js") }}"></script>
{% endblock %}

{% block updates %}
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <p>{{ _("On this page you can create everything required for your event.") }}</p>
        <p>{{ _("The system tries to avoid shuffles between families but does not exclude that possibility.") }}</p>
        <p>{{ _("Enter each person only once in the shuffle.") }}</p>
    </div>
{% endblock %}

{% block content %}
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone ">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            <p>{{ _("Use these buttons to start creating your event") }}</p>
            <a id="add-family-button"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="#">{{ _("Add new family") }}</a>
            <a id="add-existing-family-button"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="#">{{ _("Add existing family") }}</a>
            <a id="import-existing-group"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="#">{{ _("Import existing group") }}</a>
            <a id="reset-button"
               class="custom-left-margin custom-top-bottom-margin mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="#">{{ _("Reset") }}</a>
            <a id="submit-button"
               class="custom-left-margin custom-top-bottom-margin mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
               href="#">{{ _("Send") }}</a>
            <p></p>
            <p>{{ _("Also make sure to enter the group's name:") }}</p>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" minlength=1 pattern="[^;:()/<>\[\]\\,'|\x22]+" type="text"
                       id="group-name">
                <label class="mdl-textfield__label" for="group-name">{{ _("Group's name") }}</label>
                <span class="mdl-textfield__error">{{ _("Make sure you enter a family name") }}</span>
            </div>
        </div>
    </div>

    <form method="post" class="custom-form" action="/setup" id="setup-form"/>
{% endblock %}

{% block description %}{{ _("Page for creating a note") }}{% endblock %}