<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>Perekonna nimekiri</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h4>Perekonna nimekiri</h4>
    </header>
    <div id="content">
        <p class="center">Siin on sinu perekonnaliikmete nimekiri</p>
        <p><a class="mdc-button mdc-button--raised" href="./shuffle">Tagasi</a></p>
        <table class="mdl-data-table">
            <thead>
            <tr>
                <th>Nimi</th>
            </tr>
            </thead>
            <tbody>
            {% for name in names %}
                <tr>
                    <td>
                        {{ name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

