{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <p class="center">Siin on {{ target }} jõulusoovide nimekiri</p>
    <p><a {% if back %}id="link-previous"{% endif %}
          class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
          href="{{ back_link }}">Tagasi</a></p>
    <table class="mdl-data-table">
        <thead>
        <tr>
            <th>Kirjeldus</th>
            {% if not invalid %}
            <th>Ostetud</th>
                <th>Tegevus</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for item in notes %}
            <tr>
                <td>
                    {{ item[0] }}
                </td>
                {% if not invalid %}
                    <form action="" method="post">
                <td>
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox">
                        <input name="checkbox" type="checkbox" id="checkbox" class="mdl-checkbox__input"
                               {% if item[1] %}checked{% endif %}>
                        <span class="mdl-checkbox__label"></span>
                    </label>
                </td>
                        <td>
                            <input type="hidden" name="id" value="{{ id }}">
                            <input type="hidden" name="index" value="{{ loop.index0 }}">
                            <input id="submit" type="submit"
                                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                                   value="Vaheta staatust"/>
                        </td>
                    </form>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
