<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>🎄Kellegi teise soov</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h3>Kellegi teise soov</h3>
    </header>

    <div id="content">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./notes">Minu nimekiri</a>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./shuffle">Kinkimine</a>
    </div>
</div>
</body>
</html>

