{% extends "base.html" %}

{% block title %}🎄 {{ title }}{% endblock %}

{% block content %}
    <p class="center">Siin on {{ target }} jõulusoovide nimekiri</p>
    <p><a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./shuffle">Tagasi</a></p>
    <table class="mdl-data-table">
        <thead>
        <tr>
            <th>Kirjeldus</th>
        </tr>
        </thead>
        <tbody>
        {% for item in notes %}
            <tr>
                <td>
                    {{ item }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
