<!DOCTYPE html>
<html>
<head>
    {% include "head_template.html" %}
    <title>🎅</title>
</head>

<body>
{% include "style.html" %}
<div class="container">
    <header>
        <h3>Kuhu edasi?</h3>
    </header>

    <div id="content">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./giftingto?id={{ id }}">Vaata soovinimekirja</a><br>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./graph">Vaata graafi</a><br>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="./">Tagasi</a><br>
    </div>
</div>
</body>
</html>

