<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="material/lite/material.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="normalize.css") }}">
<style>
    div {
        font-family: "Roboto", sans-serif;
    }

    .wide.mdl-card {
        width: 100%;
    }
</style>