<link rel="stylesheet"
      href="{{ url_for("static", filename="roboto.css") }}" type="text/css">
<link rel="stylesheet"
      href="{{ url_for("static", filename="material_icons.css") }}">

<link rel="stylesheet"
      type="text/css"
      crossorigin="use-credentials"
      integrity="sha512-a14ICq+f2dfUBQT/as+9i+KecV2raU7On6RdgVTSKpzoVhOi7lCW3aJSRROmw8iuAFlIO5ovhHzOF3oeORi70A=="
      href="{{ url_for("static", filename="material/lite/material.min.css") }}">
<link rel="stylesheet"
      crossorigin="use-credentials"
      integrity="sha512-ymdTQyUk0UfVv71LHB/INBdluI7qg0WKX5Wy9DZNsYcliOVveSy42TBPcgbhm/RSsIHLj+3YlAfDL+/WgBMaIA=="
      href="{{ url_for("static", filename="normalize.min.css") }}">