<header class="demo-header mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{ title }}</span>
        <div class="mdl-layout-spacer"></div>
        {# <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
          </div>
        </div> --> #}

        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item"><a href="/about">{{ _("About") }}</a></li>
            <li class="mdl-menu__item"><a href="/contact">{{ _("Contact") }}</a></li>
        </ul>
    </div>
</header>

{% if no_sidebar != True %}
    <div class="demo-drawer mdl-layout__drawer">
        <nav class="demo-navigation mdl-navigation">
            <a class="mdl-navigation__link" href="/notes">
                <i class="material-icons" role="presentation">list</i> {{ _("My Wishlist") }}</a>
            <a class="mdl-navigation__link" href="/giftingto">
                <i class="material-icons" role="presentation">list</i> {{ _("Receiver's Wishlist") }}</a>
            <a class="mdl-navigation__link" href="/graph">
                <i class="material-icons" role="presentation">cached</i> {{ _("Graph") }}</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="/settings">
                <i class="material-icons" role="presentation">settings</i> {{ _("Settings") }}</a>
            <a class="mdl-navigation__link" href="/logout">
                <i class="material-icons" role="presentation">exit_to_app</i> {{ _("Log out") }}</a>
        </nav>
    </div>
{% endif %}